[Unit]
Description=CUBEBOT Uwsgi
Requires=nginx.service
After=nginx.service
[Service]
ExecStart=/usr/local/bin/uwsgi -i /opt/cube/cube.ini --need-app --logto /var/log/cube.log
ExecStop=/bin/kill $MAINPID
KillMode=process
Restart=always
User=999
WorkingDirectory=/opt/cube/
[Install]
WantedBy=multi-user.target