body{
  font-family: 'Candara', sans-serif;
  background-color: #FFFFFF;
  color: #419fe8;
  cursor:default;
  text-align:center;
}
h1{
  color:#4b8bbd;
  text-align:center;
}
h2{
  color:#318dd3;
}
h4 {
  color:rgb(31, 105, 196);
}
select, input, button{
  border-color:#419fe8;
  border-width:2px;
  background-color:#abdbff;
  border-radius:2px;
  color: #0b6fbd;
}
select:disabled, input:disabled, button:disabled{
  color: #b9b9b9;
  background-color:#eeeeee;
  border-color:#e0e0e0;
}
select:disabled:hover, option:disabled:hover, input:disabled:hover#submit{
  cursor:default;
}
select:hover, option:hover, input:hover#submit, button:hover{
  cursor:pointer;
}
option {
  border-radius:2px;
}
hr {
  height:.15vw;
  background-color:#4b8bbd;
  color:#0b6fbd;
  border-radius:5px;
}
.big {
  width:50%;
}
.small {
  width:30%;
}
.bad{
  color:red;
  visibility:hidden;
}
.scramble{
  margin:1vw 1vw 1vw 1vw;
}