<form method=post enctype=multipart/form-data>
      <p>url: <input type="text" name="url" id="url"></p>
      <p>sheet name: <input type="text" name="name" id="name"></p>
      <!--<select name="action" onchange = "ifcusts()" id="action">
          <option value="INSERT">Insert</option>
          <option value="DELETE">Delete</option>
      </select>
  <p>DB to be updated</p>
      <select name="db" onchange = "ifcusts()" id="db">
          <option value="customers">Customers</option>
          <option value="assets">Assets</option>
          <option value="technicians">Technicians</option>
          <option value="dduration">Duration out</option>
      </select>
      <div id="hiddens">
      <input type = radio name = "actual" value = "yes" id="r1" checked><label for="r1"><span id="1">Insert</span></label><br>
      <input type = radio name = "actual" value = "no" id="r2"><label for="r2"><span id="2">Activate</span></label>
      <input type=file name=file id=file onchange="changeName()">
      </div>
      <div id="hbr"><br></div>
      <label for="file" id="filelabel"><u>Choose file</u></label>
      <br><br>-->
      <input type=submit value=submit>
  </form>