<!doctype html>
<html>
  <head>
    <title>Cubing Tool Name - Submit</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <h1>Submit Times </h1>
      <div style="width: 45%; margin-left:auto; margin-right:auto;"><h3>Enter your relevant information in the first four fields, and then begin solving.  Enter times in the mm:ss.xx format, making sure to include both decimals.  For example 1:23.56 and 9.70 are valid times.  Enter the penalty (if applicable) for each solve using the dropdown menu.  If you have any issues or questions, please contact us at cubetocure2020@gmail.com</h3></div>
      <hr class="small">
      <form method=post enctype=multipart/form-data>
      <p>First Name: <br><br><input type="text" name="fname" id="fname" onchange = "full()"></p><br>
      <p>Last Name: <br><br><input type="text" name="lname" id="lname" onchange = "full()"></p><br>
      <p>WCA ID (If you don't have one, write NA): <br><br><input type="text" name="wcaid" id="wcaid" onchange = "full()"></p><br>
      <p>Email: <br><br><input type="text" name="email" id="email" onchange = "full()"></p><br>


      <hr class="big">
      <div>
        <h2><u>Solve 1</u></h2>
        <p><b>{{ scrambles[0] }}</b><br>
        <img src="{{ images[0] }}" height=150vw class=scramble>
        <br>
        Time: <input type="text" name="time1" id="time1" onchange = "check('time1')">
        Penalty: 
        <select name="pen1"id="pen1">
          <option value="None">N/A</option>
          <option value="2+">+2</option>
          <option value="DNF">DNF</option>
        </select></p>
        <p id="time1i" class="bad" style="visibility:hidden; color:red;">Invalid formatting</p>
      </div>
      <br>


      <hr class="big">
      <div>
        <h2><u>Solve 2</u></h2>
        <p><b>{{ scrambles[1] }}</b><br>
        <img src="{{ images[1] }}" height=150vw class=scramble>
        <br>
        Time: <input type="text" name="time2" id="time2" onchange = "check('time2')">
        Penalty: 
        <select name="pen2"id="pen2">
          <option value="None">N/A</option>
          <option value="2+">+2</option>
          <option value="DNF">DNF</option>
        </select></p>
        <p id="time2i" class="bad" style="visibility:hidden; color:red;">Invalid formatting</p>
      </div>
      <br>


      <hr class="big">
      <div>
        <h2><u>Solve 3</u></h2>
        <p><b>{{ scrambles[2] }}</b><br>
        <img src="{{ images[2] }}" height=150vw class=scramble>
        <br>
        Time: <input type="text" name="time3" id="time3" onchange = "check('time3')">
        Penalty: 
        <select name="pen3"id="pen3">
          <option value="None">N/A</option>
          <option value="2+">+2</option>
          <option value="DNF">DNF</option>
        </select></p>
        <p id="time3i" class="bad" style="visibility:hidden; color:red;">Invalid formatting</p>
      </div>
      <br>


      <hr class="big">
      <div>
        <h2><u>Solve 4</u></h2>
        <p><b>{{ scrambles[3] }}</b><br>
        <img src="{{ images[3] }}" height=150vw class=scramble>
        <br>
        Time: <input type="text" name="time4" id="time4" onchange = "check('time4')">
        Penalty: 
        <select name="pen4"id="pen4">
          <option value="None">N/A</option>
          <option value="2+">+2</option>
          <option value="DNF">DNF</option>
        </select></p>
        <p id="time4i" class="bad" style="visibility:hidden; color:red;">Invalid formatting</p>
      </div>
      <br>


      <hr class="big">
      <div>
        <h2><u>Solve 5</u></h2>
        <p><b>{{ scrambles[4] }}</b><br>
        <img src="{{ images[4] }}" height=150vw class=scramble>
        <br>
        Time: <input type="text" name="time5" id="time5" onchange = "check('time5')">
        Penalty: 
        <select name="pen5"id="pen5">
          <option value="None">N/A</option>
          <option value="2+">+2</option>
          <option value="DNF">DNF</option>
        </select></p>
        <p id="time5i" class="bad" style="visibility:hidden; color:red;">Invalid formatting</p>
      </div>

      <hr class="small">
      <br>
      <input id="temail" name="temail" type="hidden" value="{{ email }}">
      <input id="event" name="event" type="hidden" value="{{ event }}">
      <input id="2" name="2" type="hidden" value="true">
      <input id=submit type=submit value=submit disabled>
      <p id="alltimes" style="visibility:visible; color:red;" class="bad">Please fill all fields</p>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
